:root {
    --color-base: #ffffff;
    --color-dart-blue: #29303a;
    --color-orange: #ed6b50;
    --color-green: #777a5c;
    --color-light-bule: #4f627f;
    --bg-title: #212934;
    --section-gradient: linear-gradient(
            180deg,
            #4f627f 0%,
            rgba(79, 98, 127, 0.35) 15%,
            rgba(79, 98, 127, 0.35) 85%,
            #4f627f 100%
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.h5,
h5,
.h6,
h6,
p {
    margin: 0;
    padding: 0;
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: rgba(41, 48, 58, 1);
    min-width: 320px;
    font-weight: 400;
    height: 100vh;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: var(--color-base);
}

.body-hidden {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1185px;
    width: 100%;
    padding: 0 30px;
}

.sections-title {
    position: relative;
    padding-left: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: clamp(1.75rem, 1.4921rem + 1.1003vw, 2.8125rem);
    text-transform: uppercase;
    color: var(--color-orange);
}

.sections-title::before {
    content: '';
    position: absolute;
    display: block;
    max-width: 471px;
    width: 100%;
    height: 100px;
    background: url('../images/cel_icon.svg') no-repeat center right/cover;
    left: -406px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 530px) {
        left: -141px;
        max-width: 200px;
        width: 100%;
        height: 90px;
    }
}

/*шапка*/
.header {
    padding: 16px 0;
    width: 100%;
    background-color: var(--color-dart-blue);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__header {
    width: 115px;
    height: 77px;
    position: relative;
    z-index: 10;

    @media (max-width: 500px) {
        position: relative;
        z-index: 15;
        width: 70px;
        height: 46px;
    }
}

.header__navigation-box {
    display: contents;

    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        right: 0;
        row-gap: 40px;
        transition: 0.5s linear all;
    }
}

.header__navigation-box--open {
    left: 0;
    position: fixed;
    background: black;
    z-index: 10;
}

.navigation {
    max-width: 700px;
    margin-right: 50px;

    @media (max-width: 1023px) {
        margin-right: 0;
    }

    .navigation__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-self: stretch;
        column-gap: 20px;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            row-gap: 20px;
        }

        .navigation__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 100%;
            color: var(--color-base);
            font-family: 'Roboto', sans-serif;
            font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
            font-weight: 400;
            line-height: 23.44px;
            margin: 0;
            padding: 0 10px 0;
            text-align: center;
        }
    }
}

.contact__link {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 219px;
    width: 100%;
    color: rgba(237, 107, 80, 1);
    height: 32.5px;
    line-height: 32.5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.01em;
    border: 2px solid var(--color-orange);
    border-radius: 30px;

    @media (max-width: 1023px) {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    svg {
        width: 32.5px;
        height: 32.5px;
        margin-right: 0;
    }
}

/*бургер меню*/
.burger-menu {
    display: none;
    width: 30px;
    height: 30px;
    padding: 8px 5px;
    backdrop-filter: blur(5px);
    cursor: pointer;

    @media (max-width: 1023px) {
        display: block;
        position: relative;
        z-index: 15;
    }

    .burger-line {
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--color-base);
        z-index: 15;
        border-radius: 30px;
        transition: 0.3s linear all;
    }

    .burger-line:nth-of-type(1) {
        margin-bottom: 4px;
    }

    .burger-line:nth-of-type(3) {
        margin-top: 4px;
    }
}

.burger-menu-active > .burger-line:nth-of-type(1) {
    transform: rotate(45deg) translateX(8px) translateY(5px);
    margin: 0;
}

.burger-menu-active > .burger-line:nth-of-type(2) {
    width: 0;
}

.burger-menu-active > .burger-line:nth-of-type(3) {
    transform: rotate(-45deg) translateX(-2px) translateY(5px);
    margin: 0;
}

/*hero*/
.hero {
    width: 100%;
    min-height: 650px;
    padding: 114px 0 182px;

    @media (max-width: 1144px) {
        padding: 58px 0 40px;
    }

    @media (max-width: 1125px) {
        background: linear-gradient(180deg, #4f627f 0%, rgba(79, 98, 127, 0) 11%),
        url('../images/bg_hero_mob_x2.jpg') no-repeat center right/cover !important;
    }

    .hero__container {
        text-align: left;

        .hero__text {
            display: flex;
            flex-direction: column;
            margin-bottom: auto;
        }

        .hero__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 450px;

            @media (max-width: 1125px) {
                min-height: 552px;
            }

            .subtitle {
                width: 100%;
                margin-bottom: 20px;

                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 600;
                    font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
                    color: var(--color-green);
                }
            }

            .hero__title {
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                font-size: clamp(3.4375rem, 3.0583rem + 1.6181vw, 5rem);
                line-height: 1.125;
                color: var(--color-base);
                margin-bottom: 92px;
            }

            .hero__button {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                border-radius: 30px;
                max-width: 281px;
                height: 54px;
                width: 100%;
                color: var(--color-base);
                font-weight: 600;
                font-size: 20px;
                line-height: 54px;
                font-family: 'Montserrat', sans-serif;
                background: linear-gradient(90deg, #ed6b50 0%, #777a5c 90%);
                transition: 0.2s linear all;
            }

            .hero__button:hover {
                background: linear-gradient(90deg, #777a5c 0%, #777a5c 100%);
            }
        }
    }
}

/*services*/
.services {
    width: 100%;
    padding: 0;

    .title__wrapper {
        padding: 32px 0;
        background: var(--bg-title);
    }

    .services__content {
        background: var(--section-gradient);
        /*min-height: 573px;*/
        padding: 44px 0 64px;

        @media (max-width: 899px) {
            display: flex;
            flex-direction: column;
            /*min-height: 100%;*/
        }
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    /*min-height: 100%;*/
}

.mob-title-menu,
.mob-title-menu2,
.mob-title-menu3 {
    display: none;
    position: relative;
    padding: 0 18px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 350px;
    width: 100%;
    height: 39px;
    color: var(--color-base);
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.2;
    font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
    background: var(--color-green);
    border-radius: 30px;
    transition: 0.2s linear all;

    @media (max-width: 1065px) {
        display: flex;
        /*margin-bottom: 10px;*/
    }
}

.mob-title-menu::after,
.mob-title-menu2::after,
.mob-title-menu3::after {
    content: '';
    width: 12px;
    height: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: url('../images/shevron.svg') no-repeat;
    margin-left: 10px;
}

.tabs-triggers {
    max-width: 933px;
    padding: 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-green);
    background: var(--color-dart-blue);
    border-radius: 30px;
    margin-bottom: 30px;

    @media (max-width: 1065px) {
        max-width: 290px;
        flex-direction: column;
        row-gap: 5px;
    }

    .tabs-trigger__item,
    .tabs-trigger__item2,
    .tabs-trigger__item3 {
        position: relative;
        padding: 0 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 39px;
        color: var(--color-base);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 39px;
        font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
        background: transparent;
        border-radius: 30px;
        transition: 0.2s linear all;

        @media (max-width: 1065px) {
            display: none;
        }
    }

    .tabs-trigger__item--visible,
    .tabs-trigger__item2--visible,
    .tabs-trigger__item3--visible {
        display: flex;
    }

    .tabs-trigger__item:hover,
    .tabs-trigger__item2:hover,
    .tabs-trigger__item3:hover {
        background: var(--color-light-bule);
    }

    .tabs-trigger__item--active {
        background: var(--color-green);
    }
}

.tabs-content {
    position: relative;

    .tabs-content__item,
    .tabs-content__item2,
    .tabs-content__item3 {
        display: none;
    }

    .tabs-content__item2 {
        flex-direction: column;
    }

    .filter {
        display: flex;
        align-items: center;
        text-align: left;
        margin-bottom: 30px;

        span {
            display: inline-flex;
            font-family: 'Roboto', sans-serif;
            font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
            font-weight: 400;
            line-height: 1.2;
            margin-right: 20px;
        }

        .filter-wrap-btns {
            border: 2px solid var(--color-light-bule);
            padding: 7px;
            display: flex;
            align-items: center;
            border-radius: 30px;

            .tabs-trigger__item2-f {
                font-family: 'Roboto', sans-serif;
                font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
                font-weight: 400;
                display: flex;
                padding: 0;
                margin: 0;
                line-height: 34px;
                height: 34px;
                color: rgba(255, 255, 255, 0.5);
                padding: 0 18px;
                transition: all 0.2s;
                border-radius: 30px;
                text-decoration: none;
            }

            .tabs-trigger__item2-f:hover {
                background-color: var(--color-green);
            }

            .tabs-trigger__item2-f--active {
                color: var(--color-base);
                background-color: var(--color-light-bule);
            }
        }
    }

    .tabs-content__item--active {
        display: flex;
        width: 100%;
        gap: 5px;

        @media (max-width: 899px) {
            flex-direction: column;
            height: auto;
        }
    }
}

.services-content__text {
    width: calc((100% - 5px) / 2);
    display: flex;
    flex-direction: column;

    @media (max-width: 899px) {
        width: 100%;
    }

    .services-content__title {
        font-family: 'Roboto', sans-serif;
        font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
        font-weight: 800;
        line-height: 23.44px;
        text-align: left;
        margin-bottom: 18px;
    }

    .services-content__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        list-style-type: none;
        margin-bottom: 30px;
    }

    .services-content__item {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        width: 100%;

        svg {
            margin-right: 13px;
            flex-shrink: 0;
        }
    }

    .services-content__desc {
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 25px;

        p {
            font-family: 'Roboto', sans-serif;
            font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
            font-weight: 400;
            line-height: 23.44px;
            text-align: left;
        }
    }
}

.services-content__slider {
    width: calc((100% - 5px) / 2);

    @media (max-width: 899px) {
        width: 100%;
    }

    .mySwiper1 {
        height: 382px;
    }

    .swiper-wrapper {
        height: 355px;
    }

    .swiper-slide {
        border-radius: 5px;
        overflow: hidden;
    }

    .swiper-pagination.services-content__slider-pagination {
        top: auto;
        bottom: 0;
    }

    .swiper-pagination-progressbar {
        background: rgba(25, 32, 43, 1);
    }

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: var(--color-green);
    }
}

.arsenal-civilian-weapons__content {
    .tabs-triggers__arsenal-civilian-weapons {
        max-width: 100%;
        @media (max-width: 1065px) {
            max-width: 290px;
            flex-direction: column;
        }
    }

    .arsenal-civilian-weapons__slider {
        width: 100%;

        .mySwiper2 {
            height: 345px;

            @media (max-width: 608px) {
                height: 720px;
                grid-template-rows: repeat(2, 1fr);
            }

            @media (max-width: 500px) {
                height: 500px;
                row-gap: 20px;
            }

            .swiper-wrapper {
                height: 95%;

                .swiper-slide {
                    max-width: 264px;
                    width: 100%;
                    height: 307px;

                    @media (max-width: 608px) {
                        height: 500px;
                        width: 100%;
                    }

                    @media (max-width: 500px) {
                        height: calc((100% - 20px) / 2) !important;
                    }

                    .swiper-slide-content {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        .swiper-slide-content__img {
                            min-height: 228px;
                            max-width: 264px;
                            background-color: var(--color-base);
                            border-bottom: 4px solid var(--color-green);

                            @media (max-width: 500px) {
                                min-height: 150px;
                            }

                            img {
                                display: block;
                                height: 100%;
                                object-fit: contain;
                                width: 100%;
                            }
                        }

                        .swiper-slide-content__description {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 0 18px;
                            background: var(--color-light-bule);

                            p {
                                font-family: 'Roboto', sans-serif;
                                font-size: clamp(0.75rem, 0.6286rem + 0.5178vw, 1.25rem);
                                font-weight: 700;
                                line-height: 1.2;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.about {
    .about__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 30px;

        @media (max-width: 899px) {
            display: flex;
            flex-direction: column;
        }

        .about-slider-content {
            width: 100%;
            display: flex;
            gap: 10px;
            margin-bottom: 30px;

            @media (max-width: 899px) {
                display: flex;
                flex-direction: column;
            }

            .about-slider-content__slider {
                width: calc((100% - 10px) / 2);

                @media (max-width: 899px) {
                    width: 100%;
                }

                .mySwiper3 {
                    height: 378px;

                    .swiper-wrapper {
                        margin-bottom: 20px;
                        height: 355px;

                        .swiper-slide {
                            border-radius: 5px;
                            overflow: hidden;
                        }
                    }
                }

                .swiper-pagination.about-content__slider-pagination {
                    top: auto;
                    bottom: 0;
                }

                .swiper-pagination-progressbar {
                    background: rgba(25, 32, 43, 1);
                }

                .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
                    background: var(--color-green);
                }
            }

            .about-slider-content__text {
                width: calc((100% - 10px) / 2);
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 25px;

                @media (max-width: 899px) {
                    width: 100%;
                }

                .about-slider-content__text-block {
                    text-align: left;

                    p {
                        font-family: 'Roboto', sans-serif;
                        font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
                        font-weight: 400;
                        line-height: 1.2;
                        text-align: left;
                    }
                }

                .about-slider-content__text-link {
                    font-family: 'Roboto', sans-serif;
                    font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
                    font-weight: 400;
                    line-height: 1.2;
                    text-align: left;
                    text-decoration: none;
                    color: var(--color-base);
                }
            }
        }

        .about-card-box {
            width: 100%;

            .about-card-box__list {
                margin: 0;
                padding: 0;
                padding-left: 0;
                list-style-type: none;
                display: flex;
                gap: 40px;

                @media (max-width: 899px) {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                @media (max-width: 600px) {
                    justify-content: center;
                }

                .about-card-box__item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    /* @media (max-width: 600px) {
                      width: 100%;
                      justify-content: center;
                    } */

                    .number {
                        position: relative;
                        font-family: 'Oswald', sans-serif;
                        font-size: clamp(4.0625rem, 3.9108rem + 0.6472vw, 4.6875rem);
                        font-weight: 400;
                        line-height: 1.2;
                        text-align: center;
                        color: var(--color-green);

                        @media (max-width: 600px) {
                            width: 50%;
                            text-align: right;
                        }
                    }

                    .number::after {
                        padding: 0;
                        margin: 0;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        content: attr(data-year);
                        top: 30%;
                        right: 2%;
                        transform: rotate(270deg) translate(-50%, -50%);

                        font-family: 'Oswald', sans-serif;
                        font-size: clamp(0.75rem, 0.6742rem + 0.3236vw, 1.0625rem);
                        font-weight: 400;
                        line-height: 1.2;
                        text-align: center;
                    }

                    .text {
                        max-width: 155px;
                        font-family: 'Roboto', sans-serif;
                        font-size: clamp(0.9375rem, 0.8617rem + 0.3236vw, 1.25rem);
                        font-weight: 400;
                        line-height: 1.2;
                        text-align: left;

                        @media (max-width: 600px) {
                            max-width: 50%;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.staff {
    .tabs {
        width: 100%;

        .tabs-triggers {
            max-width: 287px;
        }

        .tabs-content {
            width: 100%;

            .tabs-content__item3 {
                width: 100%;
                gap: 20px;
                justify-content: space-between;

                .staff-body {
                    max-width: 550px;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    gap: 22px;

                    @media (max-width: 599px) {
                        gap: 15px;
                    }

                    .staff-body__img {
                        max-width: 264px;
                        width: 100%;
                        height: 312px;
                        border-radius: 5px;
                        overflow: hidden;
                        position: relative;
                        border-bottom: 6px solid var(--color-light-bule);

                        @media (max-width: 599px) {
                            height: 250px;
                        }

                        @media (max-width: 399px) {
                            height: 192px;
                        }
                    }

                    .staff-body__img::after {
                        position: absolute;
                        content: '';
                        max-width: 150px;
                        width: 100%;
                        max-height: 150px;
                        height: 100%;
                        right: 0;
                        bottom: 0;
                        display: block;
                        background: url("../images/after-card.svg") no-repeat;
                        opacity: 0.6;

                        @media (max-width: 599px) {
                            max-width: 92px;
                            max-height: 92px;
                        }
                    }

                    .staff-body__text {
                        padding-top: 30px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        width: 100%;

                        @media (max-width: 599px) {
                            row-gap: 5px;
                        }

                        @media (max-width: 599px) {
                            padding-top: 0;
                        }

                        .staff-body__text-title {
                            margin: 0;
                            padding: 0;
                            color: var(--color-green);
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 1.2;
                            text-align: left;
                        }

                        .staff-body__text-post p {
                            margin: 0;
                            padding: 0;
                            color: var(--color-base);
                            font-family: 'Roboto', sans-serif;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 1.2;
                            text-align: left;
                        }

                        .staff-body__text-tel a {
                            color: rgba(255, 255, 255, 0.5);
                            font-family: 'Roboto', sans-serif;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 1.2;
                            text-align: left;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
